:root {
  --color-primary: #001c3d;
  --color-secondary: #cf1227;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.images{
  background-image: url("assets/bglogin.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.capitalize {
  text-transform: capitalize;
}

label, select,#fullname, #id, #national, #gender, #birthyear, #address, #phoneNumber, #email {
  font-size: 12.5px;
}

label {
  font-size: 12.5px;
  @apply font-bold ml-4 tracking-wide
}

.option-input {
  font-size: 12.5px;
  @apply appearance-none rounded-full border-gray-300 w-full bg-white border text-gray-600 leading-tight focus:border-blue-900 focus:outline-none
}
